
colorama==0.4.6
GitPython==3.1.42
ignr==2.2
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
markdown-it-py==3.0.0
numpy==1.26.4
pandas==2.2.1
pillow==10.2.0
pyarrow==15.0.0
requests==2.31.0
streamlit==1.31.1
streamlit-card==1.0.0
streamlit-modal==0.1.2
toml==0.10.2

