altair
asttokens
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
comm
debugpy
decorator
deprecation
executing
gitdb
GitPython
idna
ignr
importlib-metadata
ipykernel
ipython
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
markdown-it-py
MarkupSafe
matplotlib-inline
mdurl
nest-asyncio
numpy
packaging
pandas
parso
pillow
platformdirs
prompt-toolkit
psutil
pure-eval
pyarrow
pydeck
Pygments
python-dateutil
pytz
pyzmq
referencing
requests
rich
rpds-py
six
smmap
stack-data
streamlit>=1.30.0
streamlit-card
streamlit-modal
tenacity
toml
toolz
tornado
traitlets
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
zipp
